body {
    margin: 0;
    font-family: Arial, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 0px;
}

nav img {
    max-height: 200px; /* Reduzi a altura para melhor visualização */
    width: auto;
    margin-right: 80px;
}

ul {
    list-style: none;
    display: flex;
    gap: 80px; /* Reduzi o espaçamento entre os itens */
    margin: 0;
    padding: 0;
}

li {
    color: rgb(0, 0, 0);
    font-size: 18px;
}

nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: color 0.3s;
}

nav a:hover {
    color: #66ccff;
}

/* Centralizar os itens no meio da barra de navegação */
ul {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

/* Adiciona uma media query para ajustar o layout em telas menores */
@media (max-width: 768px) {
    nav {
        flex-direction: column; /* Empilha os itens verticalmente em telas menores */
        align-items: center; /* Alinha os itens ao centro */
        text-align: center; /* Centraliza o texto */
    }

    ul {
        margin-top: 15px; /* Adiciona um espaçamento superior entre o logo e a lista */
        gap: 10px; /* Reduz o espaçamento entre os itens empilhados */
    }
}


.container {
    width: 400px;
    margin: 0 auto; /* Adiciona margens automáticas para centralizar horizontalmente */
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Centraliza o conteúdo dentro do .container */
  }
  
  .logo img {
    max-width: 100%;
    height: auto;
    max-height: 150px;
    margin-bottom: 20px; /* Adiciona margem inferior para espaçamento entre a logo e o formulário */
  }
  
  .form-group {
    margin-bottom: 15px;
  }

  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }

  input, textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #45a049;
  }