body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.background {
    /* Adicione as propriedades de background desejadas */
    background-image: url('../../img/QuemSomos.jpg');
    background-size: cover; /* Ajuste conforme necessário */
    background-position: center;
    background-attachment: fixed;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Garante que o background fique por trás de outros elementos */
}

.top-bar {
    display: flex;
    justify-content: center; /* Centraliza os itens horizontalmente */
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.top-bar a {
    color: white;
    text-decoration: none; /* Remova a decoração padrão do link, se desejar */
}

.top-bar a:hover {
    text-decoration: underline; /* Adicione um sublinhado ao passar o mouse, se desejar */
}

.top-bar p {
    margin: 0;
    margin-right: 20px;
    font-size: 14px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 0px;
}

nav img {
    max-height: 200px; /* Reduzi a altura para melhor visualização */
    width: auto;
    margin-right: 80px;
}

ul {
    list-style: none;
    display: flex;
    gap: 80px; /* Reduzi o espaçamento entre os itens */
    margin: 0;
    padding: 0;
}

nav li {
    color: rgb(0, 0, 0);
    font-size: 18px;
    border: 2px solid #000000;
    border-radius: 8px;
    padding: 10px 15px;
    margin: 0 5px; /* Adicione margem entre os itens */
    transition: transform 0.3s ease-in-out; /* Adicione uma transição suave ao transformar */
}

nav li:hover {
    transform: translateY(-5px); /* Mova o item para cima ao passar o mouse */
}

nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #00f7ff;
    border-color: #00f7ff; /* Altere a cor da borda ao passar o mouse */
}

/* Centralizar os itens no meio da barra de navegação */
ul {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

/* Adiciona uma media query para ajustar o layout em telas menores */
@media (max-width: 768px) {
    nav {
        flex-direction: column; /* Empilha os itens verticalmente em telas menores */
        align-items: center; /* Alinha os itens ao centro */
        text-align: center; /* Centraliza o texto */
    }

    ul {
        margin-top: 15px; /* Adiciona um espaçamento superior entre o logo e a lista */
        gap: 10px; /* Reduz o espaçamento entre os itens empilhados */
    }
}





.card-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    margin-bottom: 120px; /* Ajuste conforme necessário para garantir que o conteúdo não seja sobreposto pelo footer */
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(216, 10, 10, 0.1);
    width: 100%;
}

.card img {
    width: 100%;
    max-width: 450px; /* Ajuste o valor conforme necessário */
    height: auto;
}

.card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.card-text {
    position: relative;
    padding: 20px;
    text-align: left;
    margin-top: 10px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-style: normal;
    font-size: 1.3rem; /* Ajuste o tamanho do texto conforme necessário */
}

.card-text::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../../img/QuemSomos.jpg') center/cover;
    filter: blur(5px); /* Ajuste o valor do desfoque conforme necessário */
    z-index: -1;
}

.card-text h3,
.card-text p {
    position: relative;
    z-index: 1;
}

.card-text h3 {
    font-size: 1.5rem; /* Ajuste o tamanho do texto conforme necessário */
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
    font-style: normal;
    font-weight: bold;
}

.card-text p {
    font-size: 1.3rem; /* Ajuste o tamanho do texto conforme necessário */
}









/* Seu CSS existente aqui */

/* Adicione essas regras no final do seu arquivo CSS */

/* Estilo para dispositivos móveis */
@media (max-width: 768px) {
    nav img {
        margin-right: 0; /* Remova a margem à direita na versão móvel */
    }

    nav ul {
        flex-direction: column; /* Empilha os itens verticalmente em telas menores */
        gap: 10px; /* Espaçamento entre os itens */
    }

    nav li {
        font-size: 16px; /* Reduza o tamanho da fonte dos itens do menu */
    }

    .card-content {
        flex-direction: column; /* Empilha os itens verticalmente em telas menores */
        text-align: center; /* Centraliza o texto */
    }

    .card-text {
        margin-top: 10px;
        padding: 10px; /* Ajuste conforme necessário */
    }

    .card-text h3 {
        font-size: 1.3rem; /* Ajuste o tamanho do texto conforme necessário */
        margin-bottom: 5px; /* Ajuste conforme necessário */
    }

    .card-text p {
        font-size: 1.1rem; /* Ajuste o tamanho do texto conforme necessário */
    }


    .card-text {
        padding: 10px; /* Reduza o padding nas seções de texto */
    }
    .top-bar {
        padding: 10px;
    }

    .top-bar p {
        margin-right: 0;
        font-size: 12px; /* Reduz a fonte para economizar espaço */
    }

}

